.barchart-container {
  background-color: white;
  padding: 15px;
  height: 500px;
  border: 1px solid grey;

  svg {
    width: 100%;
    height: 100%;
  }

  .bar {
    margin-right: 10px;
    display: inline-block;
    fill: #61808c;
  }
  /* Color Theme Swatches in Hex */
  // .Hand-drawn-space-elements-seamless-pattern-1-hex { color: #F23869; }
  // .Hand-drawn-space-elements-seamless-pattern-2-hex { color: #A62461; }
  // .Hand-drawn-space-elements-seamless-pattern-3-hex { color: #020F59; }
  // .Hand-drawn-space-elements-seamless-pattern-4-hex { color: #010B40; }
  // .Hand-drawn-space-elements-seamless-pattern-5-hex { color: #72F2DB; }

  /* Color Theme Swatches in Hex */
  // .-Fabric-texture-of-natural-cotton-or-linen-textile-material.-Seamless-background.-1-hex {
  //   color: #123859;
  // }
  // .-Fabric-texture-of-natural-cotton-or-linen-textile-material.-Seamless-background.-2-hex {
  //   color: #032f40;
  // }
  // .-Fabric-texture-of-natural-cotton-or-linen-textile-material.-Seamless-background.-3-hex {
  //   color: #61808c;
  // }
  // .-Fabric-texture-of-natural-cotton-or-linen-textile-material.-Seamless-background.-4-hex {
  //   color: #bfd1d9;
  // }
  // .-Fabric-texture-of-natural-cotton-or-linen-textile-material.-Seamless-background.-5-hex {
  //   color: #013440;
  // }
}
