body {
  max-width: 1600px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  @media (min-width: 768px) {
    flex-direction: row;
  }

  .svg-container {
    width: 100%;
    margin: auto;
    height: 97vh;
    align-items: center;
  }
}

svg {
  fill: #cf5272;
}
